      
        @import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
      
      hider {
        
          font-family: 'Droid Arabic Kufi', serif;
          color: #ffffff;
          text-align:  center;
          
         
          
          
      }
      
       h1 {
             margin: 80px 0px 100px 0px; 
              
          }

      
      body { 
        background-color: #2e2e2e;
        font-family: 'Droid Arabic Kufi', serif;
        

    }

    

      a {
          color: rgb(163, 163, 163)
      }
    a:hover, a:active {
      
        color:#ededed;
      }
      
      
      p {
          color: #6194c1;
      }
      
      
      footer {
      background-color:#212121;
      padding: 25px;
    
      
    }
    
    p2{
        color: #a3a3a3;
        font-size: 9px;
        font-style: normal;
        
    }

    logo. {
    
      width:40%
    }